---
import { Icon } from 'astro-icon/components';
const { title, icon, day, date, time, place, description, map, link, address } = Astro.props;
import line from '/src/assets/images/line.png';
---

<div class="basis-1 lex flex-col items-center border-2 border-textPrimary mt-10 p-2 shadow-xl">
  <div class="p-5 border border-textPrimary w-full h-full">
    <div class="text-center">
      <div class="text-accent font-subtitle text-3xl">{title}</div>
      <img alt="separador" class="mx-auto mt-1 mb-3 max-w-64" src={line.src}/>
      <div class="text-4xl text-textPrimary font-main">{date}</div>
      <div class="text-2xl text-textPrimary font-main">{day} {time}</div>

      <div class="text-primary inline-block mt-5 rounded-full">
        <Icon name={icon} size={40} />
      </div>
      <div class="text-md text-primary mx-auto mb-2">
        {
        link
        ?
          <a href={link} target="_blank" class="hover:text-textPrimary">
            {place}
          </a>
        :
          <p>{place}</p>
        }
      </div>
      <div class="text-xs text-textPrimary mt-2">
        { description }
      </div>
    </div>
    <div class="flex flex-col py-3 px-2 items-center justify-center mt-5">
      <div class="center text-primary">
        <Icon name="location" size={20}/>
      </div>
      <div class="text-xxs text-center text-textPrimary mt-2">{address}</div>
      <a href={map} target="_blank" class="border rounded-full border-textPrimary text-textPrimary font-body text-sm p-2 mt-3 hover:bg-accent/40">
        Ir al mapa
      </a>
    </div>
  </div>
</div>