---
import { Icon } from 'astro-icon/components';
const {
  title,
  icon,
  day,
  date,
  time,
  location,
  link,
  address,
  map
} = Astro.props
---

<div class="flex flex-col items-center border-2 mx-5 mt-10 p-2">
  <div class="bg-platinum p-5 border w-full">
    <div class="text-center">
        <div class="text-dusty_blue font-optional text-4xl">{title}</div>
        <div class="bg-beige inline-block p-4 m-5 rounded-full border text-white">
          <Icon name={icon} size={30} />
        </div>
    </div>
    <div class="flex flex-col items-center justify-center my-2">
      <div class="center text-dusty_blue">
        <Icon name="calendar" size={25}/>
      </div>
      <div class="text-xl mx-auto">{day}</div>
      <div class="text-md">{date}</div>
    </div>
    <div class="flex flex-col items-center justify-center my-2">
      <div class="center text-dusty_blue">
        <Icon name="clock" size={25}/>
      </div>
      <div class="text-xl mx-auto">{time}</div>
    </div>
    <div class="flex flex-col items-center justify-center my-2">
      <div class="center text-dusty_blue">
        <Icon name="location" size={25}/>
      </div>
      <div class="text-xl font-optional mx-auto mb-2">
        {
        link
        ?
          <a href={link} target="_blank" class="hover:text-light_blue">
            {location}
          </a>
        :
          {location}
        }
      </div>
      <div class="text-xs text-center">{address}</div>
      <a href={map} target="_blank" class="bg-vanilla-500 text-white font-title text-xl px-5 py-2 mt-10 hover:bg-vanilla-600 ">Ir al mapa</a>
    </div>
  </div>
</div>